<h1>Dogs</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Weight</th>
            <th>Height</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>**DOG</td>
            <td>DATA</td>
            <td>GOES</td>
            <td>HERE**</td>
        </tr>
    </tbody>
</table>
