<h1>Create Observation</h1>

<%= form_with model: climatological_observation, url: climatological_observations_path, method: :post, local: true, scope: :climatological_observation do |form| %>
    <%= form.submit "Submit" %>
<% end %>
