<h1>Loan</h1>

<table>
    <tr>
        <th>Amount</th>
        <td><%= '$%.2f' % (loan.amount.to_f / 100.0) %></td>
    </tr>
    <tr>
        <th>Interest Rate</th>
        <td><%= '%.2f' % (loan.interest_rate * 100.0) + '%' %></td>
    </tr>
    <tr>
        <th>Date of Issue</th>
        <td><%= loan.date_of_issue.strftime("%m/%d/%Y") %></td>
    </tr>
</table>

<h2>Payments</h2>

<table>
    <thead>
        <tr>
            <th>Payment Amount</th>
            <th>Payment Date</th>
        </tr>
    </thead>
    <tbody>
        <!-- PAYMENT DATA GO HERE -->
    </tbody>
</table>

<p>
    <%= link_to 'Home', loans_path %>
</p>
